<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cat Clicker</title>
</head>

<body ng-app="cats">
    <div ng-controller="catsClicks">
        <aside class="">
            <ul>
                <li ng-repeat="cat in cats">
                    <a href="#" ng-click="setCat($index)">
            {{cat.name}}
          </a>
                </li>
            </ul>
        </aside>
        <main>
            <section>
                <article>
                    <div>
                        <span>{{catSelected.name}}</span>
                        <span>{{catSelected.clicks}}</span>
                    </div>
                    <img ng-src="{{catSelected.picture}}" alt="" id="catImg1" ng-click="catClick()" />
                </article>
            </section>
        </main>
    </div>


    <script src="dependencies/jquery-3.1.1.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="js/app.js" type="text/javascript"></script>
</body>

</html>
